* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

body .container {
    width: 100%;
    position: relative;
}

.container img {
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
}

.item-container a {
    /* background-color: rgba(0,0,0,0.25); */
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
}

.item-container {
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
}

.tooltip {
    position: absolute;
    text-align: center;
    background-color: #F5F5F5;
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: 8px;
    display: none;
}

.item-container h2 {
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.item-container p {
    font-size: 0.7rem;
    color: black;
    font-weight: 400;
}

#agus { 
    width: 5.3%;
    height: 14.5%;
    top:5%;
    left: 16%;
}

#agus .tooltip { 
    width: 10rem;
    right: -11rem;
}

#juanito {
    width: 7%;
    height: 65%;
    top:29%;
    left: 8%;
}

#dane { 
    width: 5.3%;
    height: 13.3%;
    top:41%;
    left: 30%;
}

#senkopan { 
    width: 6%;
    height: 11%;
    top:84.5%;
    left: 26.5%;
}

#lele { 
    width: 8%;
    height: 25%;
    top:55%;
    left: 38%;
}

#ribi { 
    width: 8%;
    height: 25%;
    top:51%;
    left: 50%;
}

#cala { 
    width: 5%;
    height: 12%;
    top:18%;
    left: 36%;
}

#sam { 
    width: 5.3%;
    height: 12%;
    top:14%;
    left: 41.1%;
}

#gato { 
    width: 5.3%;
    height: 8%;
    top:30.5%;
    left: 40.5%;
}

#minecraft { 
    width: 8.1%;
    height: 10%;
    top:89%;
    left: 56%;
}

#vortex { 
    width: 6.6%;
    height: 50%;
    top:35%;
    left: 64.2%;
}

#tokio { 
    width: 5%;
    height: 15%;
    top:9%;
    left: 67%;
}

#champi { 
    width: 5.5%;
    height: 16%;
    top:9%;
    left: 74.5%;
}

#ajedrez { 
    width: 1.2%;
    height: 4%;
    top:31%;
    left: 70.8%;
}

#axzolot { 
    width: 5.2%;
    height: 14%;
    top:17%;
    left: 86.6%;
}

#koma { 
    width: 10%;
    height: 7%;
    top:31.5%;
    left: 86.6%;
}

#pseudo { 
    width: 7%;
    height: 51%;
    top:39%;
    left: 87.3%;
}

#amongus { 
    width: 3.5%;
    height: 12%;
    top:73%;
    left: 95.3%;
}

#nula { 
    width: 3.5%;
    height: 8%;
    top:48%;
    left: 79%;
}

#yagob { 
    width: 4%;
    height: 8%;
    top:63%;
    left: 74.4%;
}

#ivan { 
    width: 3.2%;
    height: 9%;
    top: 81%;
    left: 72.4%;
}

.tooltip-style {
    background-color: #F5F5F5;
}